@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');



:root{
    --primary:#B2533E;
    --secondary:#FCE09B;
    --primary-light-color: #FBECE9;
    --primary-color-dark: #80301F;
}

.container {
    width: 100%;
    margin: 1 auto;
  }

  header {
    background: url(images/Soul\ food\ hero.jpg);
    height: 100vh;
    padding: 1.3em;
    background-size: cover;
}

.navigation {
    background: var(--primary);
    padding: 1.3em;
    font-family: ;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
  }

nav a {
    text-decoration: none;
    color: #182023;
    padding: 1.3em;
  }

nav li{
    list-style-type: none;
  }

  nav ul {
    display: flex;
    justify-content: right;
  }

  nav ul {
    display: flex;
    justify-content: right;
  }

  h1 {
    color: brown;
    font-family: ;
    position: absolute;
    left: 80px;
    bottom: 1px;
    font-size: 15vh;
  }

  h2 {
    color: black;
    font-family: ;
    position: absolute;
    font-size: 6vh;
    left: 80px;
    top: 550px;
    }

  body {
    font-family: 'noto sans';
    background: #FBECE9;
    color: black;
      }

  .origincard {
    display: flex;
    gap: 2.5em;
    justify-content: center;
    margin-top: 25px;
    align-items: start;
  }

  .originsection-photo img {
width: 100%;
height: 100%;
object-fit: cover;
  }

  .chefsection {
    display: flex;
  }

  .chef-box {
    padding: 4em;
    background-color: #80301F;
    margin: none;
  }

  .chefcard {
    display: flex;
    align-items: flex-start;
    gap: 2em;
    margin-top: 15px;
    
  }

  .chefcard-photo img {
    width: 100%;
    height: 100%;
  }